.usl-CurrentMedia-image {
  width: 100%;
  padding-bottom: 75%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.usl-CurrentMedia-nowPlaying {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0px;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  padding: 16px;
  padding-top: 24px;
}
.usl-CurrentMedia-title {
  margin: 0px;
  font-size: 150%;
}
.usl-CurrentMedia-artist {
  margin: 0px;
}
