.appWrapper {
  background: #1b1b1b;
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
}

.main {
  position: absolute;
  padding-top: 20px;
  top: 64px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
}

.footer {
  font-family: monospace;
  text-align: center;
  margin-top: 50px;
  color: #777;
}

.sourceLink {
  text-decoration: none;
  color: #aaa;
  border-bottom: 1px solid #aaa;
}
