.markdown {
  max-width: 100%;
  line-height: calc(1em + 1ex);
}

.markdown a:any-link {
  /* for non-var() browsers */
  color: #c72e6c;
  /* link color may be set by outer app (eg the üWave web client) */
  color: var(--link-color, #c72e6c);
}

.loading {
  max-width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}
