.title {
  margin: 0;
  padding: 16px 24px;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.6;
}

.content {
  padding: 0 24px 20px 24px;
  overflow-y: auto;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
  gap: 8px;
}

.markdown {
  max-width: 100%;
  line-height: calc(1em + 1ex);
}

.markdown a:any-link {
  /* for non-var() browsers */
  color: #c72e6c;
  /* link color may be set by outer app (eg the üWave web client) */
  color: var(--link-color, #c72e6c);
}

.loading {
  max-width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.closeButton {
  composes: textButton from './base.module.css';
}

.joinButton {
  composes: containedButton from './base.module.css';

  color: #fff;
  background-color: #9d2053;
}

.joinButton:hover {
  background-color: rgb(109, 22, 58);
}
