.root {
  display: flex;
  flex-direction: column;
  background-color: #525252;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  max-width: 600px;
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2),
    0px 24px 38px 3px rgba(0,0,0,0.14),
    0px 9px 46px 8px rgba(0,0,0,0.12);
  position: fixed;
  max-height: calc(100dvh - 64px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.root[open] {
  opacity: 1;
  pointer-events: all;
}
.root::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  margin: 0;
  padding: 16px 24px;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.6;
}

.content {
  padding: 0 24px 20px 24px;
  overflow-y: auto;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
  gap: 8px;
}

.markdown {
  max-width: 100%;
  line-height: calc(1em + 1ex);
}

.markdown a:any-link {
  /* for non-var() browsers */
  color: #c72e6c;
  /* link color may be set by outer app (eg the üWave web client) */
  color: var(--link-color, #c72e6c);
}

.loading {
  max-width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.closeButton {
  composes: textButton from './base.module.css';
}

.joinButton {
  composes: containedButton from './base.module.css';

  color: #fff;
  background-color: #9d2053;
}

.joinButton:hover {
  background-color: rgb(109, 22, 58);
}
