.root {
  width: 360px;
  margin: 0px 20px 20px 20px;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
}

.nobodyPlaying {
  background: black;
  color: white;
  text-decoration: none;
}

.actions {
  justify-content: end;
}
